<h1>Episodes</h1>
<hr>

<% @episodes.each do |episode| %>
  <% if !current_user.watched_episodes.exists?(episode_id: episode.id) %>
    <section>
      <h2>Season: <%=episode.season.number%> - <%=episode.title%></h2>
      <p><%= episode.plot %></p>
      <p><%= button_to "Marked as watched", watched_path(episode.id), class: "btn btn-default", method: :post%></p>
    </section>
  <% end %>		
<% end %>


